* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 1rem;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 129px;
    margin-left: 10px;
}

.navbar .searchbar {
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    width: 640px;
    height: 30px;
    border-radius: 5px;
}

.search input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
}

.search button {
    width: 10%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: -5px;
    cursor: pointer;
}

.search button i {
    margin: 0;
}

.material-icons {
    margin-right: 10px;
}